<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="diretorioReferencias" value="C:\SVN\Vivo\src\telefonica-sb"/>
    
    <add key="diretorioExportacao" value="C:\Users\lgarciat\Desktop\Exports\Contratos"/>
      
    <add key="diretorioTemplateWSDL" value="C:\SVN\Vivo\tools\1. contract generator\TemplateWSDL_SE.wsdl"/>
    <add key="diretorioTemplateRequest" value="C:\SVN\Vivo\tools\1. contract generator\TemplateRequest_SE.xsd"/>
    <add key="diretorioTemplateResponse" value="C:\SVN\Vivo\tools\1. contract generator\TemplateResponse_SE.xsd"/>
  </appSettings>
</configuration>